.header-container {
    width: 100%;
    padding: 16px 24px;
    background-color: #1E52A5;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header {
    width: 95%;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header-flap > img {
    height: 35px;
}