.header-container {
    width: 100vw;
    height: 7vh;
    padding: 16px 24px;
    background-color: #1E52A5;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    z-index: 1001;
    top: 0;
    transition: opacity 0.5s ease;
}

.header-container.fade-out {
    opacity: 0;
}

.header {
    width: 92vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header-flap > img {
    height: 30px;
}

/* Container só organiza a pesquisa, sem cor */
.pesquisa-header {
    display: flex;
    align-items: center;
    padding: 0; /* padding do container não interfere */
    box-sizing: border-box;
}

.logout-header {
    width: 137px;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.logout-anim {
    animation: rotate 0.5s ease;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.logout-overlay {
    position: fixed;
    top:0; left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 100;
}