.menu-container {
    width: 300px;
    background-color: #fff;
    border-right: 1px solid #dee2e6;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
}

.menu {
    background-color: antiquewhite;
    width: 270px;
    height: 88vh;
    margin-top: 8vh; /* Adjust based on header height */
}