.menu-container {
    width: 210px; 
    background-color: #fff;
    border-right: 2px solid rgba(222, 226, 230, 0.5);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    scrollbar-width: none; 
}

.menu {
    width: 170px; 
    height: 88vh;
    margin-top: 6vh;
}

.menu-perfil {
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; 
    border-top: 2px solid rgba(222, 226, 230, 0.5);
    border-bottom: 2px solid rgba(222, 226, 230, 0.5);
}

.menu-perfil-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px; 
    width: 100%;
    border-radius: 8px;
    padding: 6px;
    color: #929191;
    font-size: 14px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-perfil-item:hover {
    background-color: rgba(1, 60, 196, 0.1);
    color: rgb(0, 49, 122);
}

.menu-perfil-imagem {
    background-color: #ced4da;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-section {
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-bottom: 2px solid rgba(222, 226, 230, 0.5);
}

.menu-final {
    height: 4vh;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 11px;
    color: #49505779;
}

.menu-item {
    font-size: 14px;
    width: 100%;
    border-radius: 8px;
    padding: 8px; 
    color: #929191;
    display: flex;
    align-items: center;
    gap: 12px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover {
    background-color: rgba(1, 60, 196, 0.1);
    color: rgb(0, 49, 122);
}

.menu-item-titulo {
    font-size: 14px; 
    font-weight: 600;
    margin-bottom: 6px;
    color: #676767;
    text-transform: uppercase; 
}