/* Estilos para o container do menu */
.menu-container {
    width: 230px;
    background-color: #fff;
    border-right: 2px solid rgba(222, 226, 230, 0.500);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Fixando o menu na lateral */
    top: 0;
    left: 0;
    overflow-y: auto; /* scroll interno */
    scrollbar-width: none; /* ocultar scrollbar */
}
.menu {
    width: 190px;
    height: 88vh;
    margin-top: 6vh; /* ajuste baseado na altura do header */
}

/* Estilos para a seção de perfil */
.menu-perfil {
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    border-top: 2px solid rgba(222, 226, 230, 0.500);
    border-bottom: 2px solid rgba(222, 226, 230, 0.500);
}
.menu-perfil-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 80%;
    border-radius: 8px;
    padding: 5px;
    color: #929191;
    font-size: 1.2rem;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.menu-perfil-item:hover {
    background-color: rgba(1, 60, 196, 0.100);
    color: rgb(0, 49, 122);
}
.menu-perfil-imagem {
    background-color: #ced4da;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Estilos para as demais seções */
.menu-section {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 2px solid rgba(222, 226, 230, 0.500);
}
.menu-final {
    height: 4vh;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 12px;
    color: #49505779;
}

/* Estilos para os itens do menu */
.menu-item {
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    color: #929191;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 25px;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.menu-item-titulo{
    font-size: 24px;
    margin-bottom: 8px;
    color: #676767;
}
.menu-item:hover {
    background-color: rgba(1, 60, 196, 0.100);
    color: rgb(0, 49, 122);
}