.detalhamento-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 85vh;
}

/* Estilos para o conteúdo principal e scrollbar da tarefa*/
.detalhamento-content {
  flex: 2;
  margin-right: 20px;
  background-color: #fff;
  border: 10px solid #fff;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
}
.detalhamento-content::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}
.detalhamento-content::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 4px;
}
.detalhamento-content::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9;
}

/* Estilos para o cabeçalho */
.detalhamento-header {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detalhamento-header-agente {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 7px;
    border-radius: 20px;
    border: 2px solid #000;
    font-size: 14px;
}
.detalhamento-header-agente-logo {
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: flex;
}
.detalhamento-header-empresa {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 40px;
}
.detalhamento-header-empresa-logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
}

/* Estilos para o título e corpo do container de tarefa*/
.detalhamento-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
}
.detalhamento-body {
  margin: 20px 0;
}
.detalhamento-body-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/* Estilos para a lista de tarefas */
.task-list {
  list-style: none;
  padding: 0;
}
.task-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.4rem 0;
  cursor: pointer;
  transition: 0.2s;
}
.task-item:hover {
  background: #f1f1f1;
}
.task-item.done span {
  text-decoration: line-through;
  color: #888;
}

.detalhamento-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}
.detalhamento-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detalhamento-historico,
.detalhamento-comentarios {
  flex: 1;
  margin-right: 20px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}
.detalhamento-historico-title,
.detalhamento-comentarios-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.detalhamento-comentarios-list {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detalhamento-comentarios-item {
  padding: 5px 0;
  width: 100%;
  height: 80px;
  background-color: hsla(0, 0%, 90%, 0.300);
  border-radius: 10px;
  border-bottom: 1px solid #eee;
}